<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="main-whole" style="position: absolute; min-width: 100vw; max-width: 100vw; min-height: 100vh; max-height: 100vh; display: flex; align-items: center; justify-content: center;">
        <h1 style="position: absolute; color: #C3A72D; font-size: 3rem;">Takúto podstránku nepoznám :-/</h1>
    </div>
</body>
</html>