<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="results.css">
</head>
<body> 
    <div class="main-whole">
        <div class="main-header">
            Your results
        </div>
        <div class="main-content">
            <div class="main-number">
                <%= correct %> / <%= total %> 
            </div>
            <div class="main-percent">
                <% var percentage = ((Number(correct)/Number(total))*100).toFixed();
                    if (correct == 0){
                        percentage = 0;
                    }
                %>
                <%= percentage %>% 
            </div>
        </div>
        <div class="main-leave">
            <a href="home" class="leave-link">Back to the verbs</a>
        </div>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-database.js"></script>
    
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    
    <script>(function(_0x116154,_0x1a80f4){var _0x78c55a=_0x4700,_0x221e5e=_0x116154();while(!![]){try{var _0x762655=-parseInt(_0x78c55a(0xf6))/0x1+parseInt(_0x78c55a(0xf0))/0x2*(-parseInt(_0x78c55a(0xff))/0x3)+-parseInt(_0x78c55a(0x118))/0x4*(parseInt(_0x78c55a(0xef))/0x5)+-parseInt(_0x78c55a(0x10e))/0x6+parseInt(_0x78c55a(0xf9))/0x7*(-parseInt(_0x78c55a(0xf4))/0x8)+-parseInt(_0x78c55a(0xfc))/0x9+parseInt(_0x78c55a(0x111))/0xa*(parseInt(_0x78c55a(0xf1))/0xb);if(_0x762655===_0x1a80f4)break;else _0x221e5e['push'](_0x221e5e['shift']());}catch(_0x5ee2b5){_0x221e5e['push'](_0x221e5e['shift']());}}}(_0x529a,0x757a0),(function(_0x297578,_0x3d3099){var _0x60a795=_0x4700,_0xb75b32=_0x4c01,_0x2fc20d=_0x297578();while(!![]){try{var _0x3f7dd5=parseInt(_0xb75b32(0x152))/0x1+-parseInt(_0xb75b32(0x162))/0x2+parseInt(_0xb75b32(0x167))/0x3+-parseInt(_0xb75b32(0x14a))/0x4*(-parseInt(_0xb75b32(0x149))/0x5)+parseInt(_0xb75b32(0x14e))/0x6+parseInt(_0xb75b32(0x15c))/0x7*(parseInt(_0xb75b32(0x14d))/0x8)+-parseInt(_0xb75b32(0x15a))/0x9;if(_0x3f7dd5===_0x3d3099)break;else _0x2fc20d['push'](_0x2fc20d['shift']());}catch(_0x51a1e5){_0x2fc20d[_0x60a795(0x106)](_0x2fc20d[_0x60a795(0x102)]());}}}(_0xda88,0x75c2f),function(_0x3522c7,_0x5c9b2b){var _0x4aaa8b=_0x4c01,_0x139011=_0x1c93,_0x3a0285=_0x3522c7();while(!![]){try{var _0x5d255e=-parseInt(_0x139011(0x178))/0x1*(parseInt(_0x139011(0x16f))/0x2)+parseInt(_0x139011(0x169))/0x3+parseInt(_0x139011(0x167))/0x4*(parseInt(_0x139011(0x171))/0x5)+parseInt(_0x139011(0x165))/0x6+-parseInt(_0x139011(0x166))/0x7+parseInt(_0x139011(0x174))/0x8+-parseInt(_0x139011(0x175))/0x9;if(_0x5d255e===_0x5c9b2b)break;else _0x3a0285[_0x4aaa8b(0x154)](_0x3a0285[_0x4aaa8b(0x153)]());}catch(_0x2b7b46){_0x3a0285[_0x4aaa8b(0x154)](_0x3a0285[_0x4aaa8b(0x153)]());}}}(_0x3caa,0xafb32)));var _0x50dea6=_0x50d9;function _0x4700(_0x1e41e4,_0x26ba6d){var _0x529aac=_0x529a();return _0x4700=function(_0x47007c,_0x119aa3){_0x47007c=_0x47007c-0xed;var _0x416d95=_0x529aac[_0x47007c];return _0x416d95;},_0x4700(_0x1e41e4,_0x26ba6d);}(function(_0x8da63d,_0x445340){var _0x22b50e=_0x4c01,_0x58a540=_0x1c93,_0xe730e=_0x50d9,_0x1b775f=_0x8da63d();while(!![]){try{var _0x13cdb5=parseInt(_0xe730e(0x101))/0x1+-parseInt(_0xe730e(0x10f))/0x2+-parseInt(_0xe730e(0x109))/0x3*(parseInt(_0xe730e(0x108))/0x4)+-parseInt(_0xe730e(0xfd))/0x5+parseInt(_0xe730e(0x10e))/0x6+-parseInt(_0xe730e(0x103))/0x7*(parseInt(_0xe730e(0x102))/0x8)+parseInt(_0xe730e(0x100))/0x9;if(_0x13cdb5===_0x445340)break;else _0x1b775f[_0x58a540(0x177)](_0x1b775f[_0x58a540(0x162)]());}catch(_0x39e559){_0x1b775f[_0x22b50e(0x154)](_0x1b775f[_0x58a540(0x162)]());}}}(_0x211a,0x40a7a));function _0x50d9(_0x1a4120,_0x3d3dc6){var _0x344175=_0x211a();return _0x50d9=function(_0x5efe26,_0xb6439e){_0x5efe26=_0x5efe26-0xfa;var _0x2447d6=_0x344175[_0x5efe26];return _0x2447d6;},_0x50d9(_0x1a4120,_0x3d3dc6);}function _0x4342(){var _0x2ce51b=_0x4c01,_0x10e31e=_0x1c93,_0x31b8d5=_0x50d9,_0x2c6bb6=[_0x31b8d5(0x10a),_0x10e31e(0x17a),_0x2ce51b(0x161),_0x31b8d5(0xfc),_0x10e31e(0x16c),_0x31b8d5(0x104),_0x31b8d5(0x105),_0x31b8d5(0x10c),_0x10e31e(0x164),_0x31b8d5(0xfe),_0x31b8d5(0xff),_0x10e31e(0x170),_0x10e31e(0x17b),_0x10e31e(0x160)];return _0x4342=function(){return _0x2c6bb6;},_0x4342();}function _0x4c01(_0x5972bb,_0x33a34c){var _0x4018f6=_0xda88();return _0x4c01=function(_0x4d97fc,_0x1405f6){_0x4d97fc=_0x4d97fc-0x141;var _0x5ea698=_0x4018f6[_0x4d97fc];return _0x5ea698;},_0x4c01(_0x5972bb,_0x33a34c);}var _0x169ce2=_0x232c;function _0x1c93(_0x53d514,_0x2392ff){var _0x4d6d5d=_0x3caa();return _0x1c93=function(_0x44a05b,_0xff1f66){_0x44a05b=_0x44a05b-0x15f;var _0x4b5622=_0x4d6d5d[_0x44a05b];return _0x4b5622;},_0x1c93(_0x53d514,_0x2392ff);}function _0xda88(){var _0x54306d=_0x4700,_0x1c274c=[_0x54306d(0x109),_0x54306d(0x105),'12165ssFuQk',_0x54306d(0xf5),_0x54306d(0xed),_0x54306d(0x113),_0x54306d(0x103),_0x54306d(0x117),_0x54306d(0xfd),_0x54306d(0x101),_0x54306d(0x10c),_0x54306d(0x107),_0x54306d(0x102),'push','99MWEUTK',_0x54306d(0xf8),'2858ASiUPl',_0x54306d(0x10d),_0x54306d(0x116),'21814290bbnKGC','4iyrhiz',_0x54306d(0x10f),'7567446QwMKTi',_0x54306d(0x119),_0x54306d(0xee),_0x54306d(0xfe),_0x54306d(0x115),_0x54306d(0xf7),'8DmkHIS',_0x54306d(0xfa),'5564209SITXjV','1088605FIpJED',_0x54306d(0x10a),_0x54306d(0x112),'23135FUUyNQ',_0x54306d(0xfb),_0x54306d(0x10b),_0x54306d(0x11a),_0x54306d(0x110),_0x54306d(0x104)];return _0xda88=function(){return _0x1c274c;},_0xda88();}(function(_0x55d8d2,_0x4ccccb){var _0x16d92e=_0x4700,_0x4e7ba5=_0x50d9,_0x14ee05=_0x232c,_0x5e764e=_0x55d8d2();while(!![]){try{var _0xd6bdcd=parseInt(_0x14ee05(0x1c1))/0x1+-parseInt(_0x14ee05(0x1c0))/0x2+parseInt(_0x14ee05(0x1c5))/0x3*(parseInt(_0x14ee05(0x1be))/0x4)+parseInt(_0x14ee05(0x1bf))/0x5*(-parseInt(_0x14ee05(0x1c2))/0x6)+parseInt(_0x14ee05(0x1c4))/0x7+-parseInt(_0x14ee05(0x1b9))/0x8*(-parseInt(_0x14ee05(0x1bb))/0x9)+-parseInt(_0x14ee05(0x1ba))/0xa*(parseInt(_0x14ee05(0x1c6))/0xb);if(_0xd6bdcd===_0x4ccccb)break;else _0x5e764e[_0x4e7ba5(0xfa)](_0x5e764e[_0x16d92e(0x102)]());}catch(_0x5381cd){_0x5e764e[_0x4e7ba5(0xfa)](_0x5e764e[_0x4e7ba5(0x107)]());}}}(_0x4342,0x66f4a));function _0x232c(_0x595a1f,_0x2af72d){var _0x20c79d=_0x4342();return _0x232c=function(_0x12f68b,_0xa76e4d){_0x12f68b=_0x12f68b-0x1b9;var _0x2902b4=_0x20c79d[_0x12f68b];return _0x2902b4;},_0x232c(_0x595a1f,_0x2af72d);}var firebaseConfig={'apiKey':_0x169ce2(0x1bc),'authDomain':_0x169ce2(0x1bd),'projectId':_0x50dea6(0xfb),'storageBucket':_0x50dea6(0x10d),'messagingSenderId':_0x50dea6(0x10b),'appId':_0x169ce2(0x1c3)};function _0x3caa(){var _0x389198=_0x4700,_0x2bada3=_0x4c01,_0x5d6faf=[_0x389198(0x108),_0x389198(0x114),_0x2bada3(0x142),_0x389198(0x100),_0x2bada3(0x141),_0x2bada3(0x153),_0x2bada3(0x159),'73806HnZXFa',_0x2bada3(0x15d),_0x2bada3(0x145),_0x2bada3(0x15b),_0x2bada3(0x148),_0x2bada3(0x151),_0x2bada3(0x144),_0x2bada3(0x158),_0x2bada3(0x164),_0x2bada3(0x155),_0x2bada3(0x160),_0x2bada3(0x157),'1:634291157051:web:146453cf745afe3526041e',_0x2bada3(0x166),_0x2bada3(0x14c),_0x2bada3(0x14f),_0x2bada3(0x150),_0x2bada3(0x147),_0x2bada3(0x143),_0x2bada3(0x154),_0x389198(0xf2),_0x2bada3(0x146),_0x2bada3(0x163),_0x2bada3(0x165),_0x2bada3(0x156),_0x389198(0xf3),_0x2bada3(0x168),_0x2bada3(0x15e)];return _0x3caa=function(){return _0x5d6faf;},_0x3caa();}function _0x211a(){var _0x11f9e5=_0x4c01,_0x4dcd83=_0x1c93,_0x2e6801=[_0x4dcd83(0x173),_0x4dcd83(0x172),_0x4dcd83(0x181),_0x4dcd83(0x179),_0x4dcd83(0x180),_0x4dcd83(0x15f),_0x11f9e5(0x15f),_0x4dcd83(0x16e),_0x4dcd83(0x16b),_0x11f9e5(0x153),_0x11f9e5(0x14b),_0x4dcd83(0x168),_0x4dcd83(0x16d),_0x4dcd83(0x176),_0x4dcd83(0x161),_0x4dcd83(0x163),_0x4dcd83(0x16a),_0x4dcd83(0x17e),_0x4dcd83(0x177),_0x4dcd83(0x17f),_0x4dcd83(0x17d),_0x4dcd83(0x17c)];return _0x211a=function(){return _0x2e6801;},_0x211a();}function _0x529a(){var _0x23c414=['3173076izSrQN','94729AaHzBq','2316PKjmGB','3hbaYEE','1269VEeSiQ','8625856OeJlLI','shift','7622856ZGPBTN','17482Cbivbt','2982XypaZI','push','544054lwLvHS','4752rHfewX','8286318ZjOVhx','2404350fakIpB','634291157051','932529vBWeTS','initializeApp','3307890cbMguS','7vTFxND','5462744OevQLq','17495940buHYYN','884528yhkLlH','492hGuhqu','6281928teQRGb','1221410UMURCI','nepravidelne-slovesa.appspot.com','1916856vEVFzL','20gIqRqa','nepravidelne-slovesa','2435526LuNOpx','484TzGpky','nepravidelne-slovesa.firebaseapp.com','38310kSVGwR','1061342KCUtCe','22qyLDQx','313NafJUF','7224831ZRIOsq','312SrHuFq','1036AXvgex','633987jxMbZb','683646FbVdSx','1455305xtuoWg','163541KkUCoo','AIzaSyAecX1ItIzGnTNrP2cdex7wgJCAitLwTNs','35OvbIOO'];_0x529a=function(){return _0x23c414;};return _0x529a();}firebase[_0x50dea6(0x106)](firebaseConfig);
    </script><!--
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    <script>
        const firebaseConfig = {
        apiKey: "AIzaSyAecX1ItIzGnTNrP2cdex7wgJCAitLwTNs",
        authDomain: "nepravidelne-slovesa.firebaseapp.com",
        projectId: "nepravidelne-slovesa",
        storageBucket: "nepravidelne-slovesa.appspot.com",
        messagingSenderId: "634291157051",
        appId: "1:634291157051:web:146453cf745afe3526041e"
        };

        // Initialize Firebase

        firebase.initializeApp(firebaseConfig);
    </script>-->
</body>
</html>