<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %> 
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="test.css">
</head>
<body> 
    <div class="main-whole">
        <div class="main-header">
            Tvoj Test
        </div>
        <div class="main-content">
            <div class="content-qs"> 
                    <form action="/check_test" method="POST" class="qs-form">    
                        <div class="q-q pattern">
                            <div class="answer-input">Infinitiv</div>
                            <div class="answer-input">Präsens</div>
                            <div class="answer-input">Präteritum</div>
                            <div class="answer-input">Perfekt</div>
                            <div class="answer-input">Gebrauch</div>
                            <div class="answer-input" style="opacity: .5;">Übersetzung</div>
                        </div>             
                        <% for (chosen of for_test) {  %>
                            <div class="q-q" style="margin-top: 20px;">
                                <div class="answer-input" style="background-color: #C3A72D; color: #1C2022;"><%= chosen['Infinitiv'] %></div>
                                <input type="text" class="answer-input" placeholder="Präsens" name="Präsens">   
                                <input type="text" class="answer-input" placeholder="Präteritum" name="Präteritum">   
                                <input type="text" class="answer-input" placeholder="Perfekt" name="Perfekt">   
                                <input type="text" class="answer-input" placeholder="Gebrauch" name="Gebrauch">   
                                <input type="text" class="answer-input" placeholder="Übersetzung" name="Übersetzung">   
                            </div>
                        <% } %>  
                        <input type="submit" class="answer-input submit" value="hotovo!">
                    </form>
            </div>
            <div class="content-submit"></div>
        </div>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-database.js"></script>
    
    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    
    <script>(function(_0x34aa04,_0x8367e2){var _0x5b3388=_0x230f,_0x6d99e9=_0x34aa04();while(!![]){try{var _0x174712=parseInt(_0x5b3388(0x1e7))/0x1+parseInt(_0x5b3388(0x1bf))/0x2*(parseInt(_0x5b3388(0x1ea))/0x3)+parseInt(_0x5b3388(0x1ce))/0x4*(-parseInt(_0x5b3388(0x1d6))/0x5)+parseInt(_0x5b3388(0x1e8))/0x6*(-parseInt(_0x5b3388(0x1f3))/0x7)+-parseInt(_0x5b3388(0x1ed))/0x8*(parseInt(_0x5b3388(0x1d4))/0x9)+-parseInt(_0x5b3388(0x1e2))/0xa*(-parseInt(_0x5b3388(0x1cc))/0xb)+parseInt(_0x5b3388(0x1cb))/0xc*(parseInt(_0x5b3388(0x1d2))/0xd);if(_0x174712===_0x8367e2)break;else _0x6d99e9['push'](_0x6d99e9['shift']());}catch(_0x9e84f7){_0x6d99e9['push'](_0x6d99e9['shift']());}}}(_0x3303,0xd5044));var _0x1f6983=_0x5413;(function(_0x273393,_0x1f3306){var _0x3dd1ec=_0x230f,_0x2ee596=_0x5413,_0x25998a=_0x273393();while(!![]){try{var _0x56ee4c=-parseInt(_0x2ee596(0x10a))/0x1+parseInt(_0x2ee596(0x107))/0x2*(parseInt(_0x2ee596(0xff))/0x3)+-parseInt(_0x2ee596(0xfe))/0x4*(parseInt(_0x2ee596(0x116))/0x5)+-parseInt(_0x2ee596(0x124))/0x6+-parseInt(_0x2ee596(0x11c))/0x7*(-parseInt(_0x2ee596(0x104))/0x8)+-parseInt(_0x2ee596(0x10c))/0x9+parseInt(_0x2ee596(0x105))/0xa;if(_0x56ee4c===_0x1f3306)break;else _0x25998a[_0x3dd1ec(0x1c6)](_0x25998a['shift']());}catch(_0x16724f){_0x25998a[_0x3dd1ec(0x1c6)](_0x25998a[_0x3dd1ec(0x1f2)]());}}}(_0x91b0,0xd6d41),function(_0x27f949,_0x8a6930){var _0x116a4e=_0x230f,_0xc62692=_0x5413,_0x4cf3be=_0x1b66,_0xc9e32e=_0x27f949();while(!![]){try{var _0x3be702=parseInt(_0x4cf3be(0x19a))/0x1+parseInt(_0x4cf3be(0x1aa))/0x2+-parseInt(_0x4cf3be(0x199))/0x3+parseInt(_0x4cf3be(0x19d))/0x4*(parseInt(_0x4cf3be(0x196))/0x5)+parseInt(_0x4cf3be(0x19c))/0x6*(-parseInt(_0x4cf3be(0x1ac))/0x7)+-parseInt(_0x4cf3be(0x1a1))/0x8+parseInt(_0x4cf3be(0x1a4))/0x9;if(_0x3be702===_0x8a6930)break;else _0xc9e32e[_0xc62692(0x11a)](_0xc9e32e[_0x116a4e(0x1f2)]());}catch(_0x4d5aeb){_0xc9e32e[_0xc62692(0x11a)](_0xc9e32e[_0xc62692(0x106)]());}}}(_0x3b43,0x205e2));var _0x1c5782=_0x14f2;(function(_0x474baa,_0x13e114){var _0x12cee8=_0x1b66,_0xd66116=_0x14f2,_0x2aa15c=_0x474baa();while(!![]){try{var _0x3496f1=parseInt(_0xd66116(0xa8))/0x1+-parseInt(_0xd66116(0xb1))/0x2+-parseInt(_0xd66116(0xab))/0x3*(-parseInt(_0xd66116(0x9e))/0x4)+parseInt(_0xd66116(0x94))/0x5+-parseInt(_0xd66116(0xaf))/0x6*(parseInt(_0xd66116(0xa7))/0x7)+parseInt(_0xd66116(0xa0))/0x8+parseInt(_0xd66116(0xa3))/0x9;if(_0x3496f1===_0x13e114)break;else _0x2aa15c[_0x12cee8(0x1ae)](_0x2aa15c[_0x12cee8(0x1a0)]());}catch(_0xba6ea1){_0x2aa15c[_0x12cee8(0x1ae)](_0x2aa15c[_0x12cee8(0x1a0)]());}}}(_0x2ddc,0x2727f),function(_0x6e01dd,_0x30ae66){var _0x25f143=_0x1b66,_0x1b114f=_0x14f2,_0x3c2724=_0x5d77,_0x162a84=_0x6e01dd();while(!![]){try{var _0x2fe0cf=-parseInt(_0x3c2724(0x168))/0x1*(-parseInt(_0x3c2724(0x163))/0x2)+parseInt(_0x3c2724(0x16f))/0x3*(parseInt(_0x3c2724(0x17c))/0x4)+-parseInt(_0x3c2724(0x165))/0x5+-parseInt(_0x3c2724(0x17b))/0x6+-parseInt(_0x3c2724(0x173))/0x7*(-parseInt(_0x3c2724(0x17a))/0x8)+parseInt(_0x3c2724(0x174))/0x9*(parseInt(_0x3c2724(0x176))/0xa)+-parseInt(_0x3c2724(0x166))/0xb;if(_0x2fe0cf===_0x30ae66)break;else _0x162a84[_0x25f143(0x1ae)](_0x162a84[_0x1b114f(0xa5)]());}catch(_0x4b174e){_0x162a84[_0x1b114f(0x98)](_0x162a84[_0x1b114f(0xa5)]());}}}(_0x2d91,0xa71ea));function _0x1b66(_0x3d37b4,_0x365f0d){var _0x2d5ed0=_0x3b43();return _0x1b66=function(_0x3998f3,_0x3c012f){_0x3998f3=_0x3998f3-0x191;var _0x23314c=_0x2d5ed0[_0x3998f3];return _0x23314c;},_0x1b66(_0x3d37b4,_0x365f0d);}function _0x2b5e(_0x4b1d46,_0x541d5b){var _0x570d21=_0xf467();return _0x2b5e=function(_0x36ea17,_0x9be635){_0x36ea17=_0x36ea17-0x182;var _0x28e714=_0x570d21[_0x36ea17];return _0x28e714;},_0x2b5e(_0x4b1d46,_0x541d5b);}function _0x5413(_0xcc4cb1,_0x3eeadc){var _0x3895ef=_0x91b0();return _0x5413=function(_0x1e1cad,_0x1eabe6){_0x1e1cad=_0x1e1cad-0xfd;var _0xb1bb05=_0x3895ef[_0x1e1cad];return _0xb1bb05;},_0x5413(_0xcc4cb1,_0x3eeadc);}function _0x14f2(_0x492cf1,_0x2776d5){var _0x59d5a8=_0x2ddc();return _0x14f2=function(_0x3b34f5,_0xf5811d){_0x3b34f5=_0x3b34f5-0x92;var _0x534398=_0x59d5a8[_0x3b34f5];return _0x534398;},_0x14f2(_0x492cf1,_0x2776d5);}function _0x2ddc(){var _0x33cf59=_0x230f,_0x553184=_0x5413,_0x1db786=_0x1b66,_0x1d1130=[_0x1db786(0x1b0),_0x1db786(0x1a7),_0x1db786(0x1b1),'nepravidelne-slovesa.firebaseapp.com',_0x1db786(0x195),_0x33cf59(0x1e5),_0x553184(0x11e),_0x1db786(0x1a2),_0x1db786(0x19e),_0x553184(0x106),_0x553184(0x114),_0x1db786(0x1af),_0x1db786(0x191),_0x1db786(0x1a3),_0x553184(0x110),_0x553184(0x112),_0x1db786(0x1a9),_0x1db786(0x197),_0x1db786(0x1ad),_0x1db786(0x1a8),_0x553184(0x126),_0x33cf59(0x1e6),_0x553184(0x117),_0x1db786(0x193),_0x1db786(0x1b2),_0x553184(0x11d),_0x1db786(0x1a6),_0x1db786(0x1b4),_0x1db786(0x1ae),_0x1db786(0x19f),_0x1db786(0x19b),_0x1db786(0x1b5)];return _0x2ddc=function(){return _0x1d1130;},_0x2ddc();}var _0x4dbda9=_0x2b5e;(function(_0x510497,_0xc719e){var _0x412cf0=_0x5d77,_0x202a3a=_0x2b5e,_0x2cb4b8=_0x510497();while(!![]){try{var _0x15839e=parseInt(_0x202a3a(0x192))/0x1*(-parseInt(_0x202a3a(0x183))/0x2)+parseInt(_0x202a3a(0x189))/0x3+-parseInt(_0x202a3a(0x187))/0x4*(-parseInt(_0x202a3a(0x182))/0x5)+parseInt(_0x202a3a(0x190))/0x6*(parseInt(_0x202a3a(0x18f))/0x7)+parseInt(_0x202a3a(0x18a))/0x8*(parseInt(_0x202a3a(0x18b))/0x9)+parseInt(_0x202a3a(0x191))/0xa*(-parseInt(_0x202a3a(0x186))/0xb)+parseInt(_0x202a3a(0x18e))/0xc;if(_0x15839e===_0xc719e)break;else _0x2cb4b8[_0x412cf0(0x178)](_0x2cb4b8[_0x412cf0(0x167)]());}catch(_0x10779c){_0x2cb4b8[_0x412cf0(0x178)](_0x2cb4b8[_0x412cf0(0x167)]());}}}(_0xf467,0xde972));function _0x5d77(_0x49e0f8,_0x38c925){var _0x3d3ab8=_0x2d91();return _0x5d77=function(_0x4dc164,_0x3ba99c){_0x4dc164=_0x4dc164-0x163;var _0x5aebdf=_0x3d3ab8[_0x4dc164];return _0x5aebdf;},_0x5d77(_0x49e0f8,_0x38c925);}function _0x91b0(){var _0xb47225=_0x230f,_0x14d2d4=[_0xb47225(0x1cf),_0xb47225(0x1d5),_0xb47225(0x1c5),_0xb47225(0x1ee),'1:634291157051:web:146453cf745afe3526041e',_0xb47225(0x1c2),_0xb47225(0x1c1),_0xb47225(0x1c4),_0xb47225(0x1e1),_0xb47225(0x1c3),_0xb47225(0x1db),'12900217oUQQJG','nepravidelne-slovesa.appspot.com','183kVAUXF',_0xb47225(0x1da),'243620hnCfkB',_0xb47225(0x1d7),'485pNqaWN',_0xb47225(0x1dc),_0xb47225(0x1ef),_0xb47225(0x1c8),'2112136TkPlej','427368EomrxJ',_0xb47225(0x1f0),'12561568TKdoCg',_0xb47225(0x1f1),_0xb47225(0x1f2),_0xb47225(0x1de),_0xb47225(0x1df),'54XEzOdU',_0xb47225(0x1c7),'initializeApp',_0xb47225(0x1c9),_0xb47225(0x1ca),_0xb47225(0x1cd),_0xb47225(0x1e4),'5ajGBui',_0xb47225(0x1d1),_0xb47225(0x1d8),'495VOnUon','72766rpzYQt',_0xb47225(0x1e9),_0xb47225(0x1c0),'10LNJIVu','70010RnJXHR',_0xb47225(0x1ec),'push',_0xb47225(0x1d3),_0xb47225(0x1d0),'52384ypvwVQ'];return _0x91b0=function(){return _0x14d2d4;},_0x91b0();}var firebaseConfig={'apiKey':_0x4dbda9(0x188),'authDomain':_0x4dbda9(0x18d),'projectId':_0x1f6983(0x125),'storageBucket':_0x4dbda9(0x185),'messagingSenderId':_0x1c5782(0xac),'appId':_0x4dbda9(0x184)};function _0x3b43(){var _0x12fb30=_0x230f,_0xe5c3db=_0x1f6983,_0x52d468=[_0xe5c3db(0x11a),_0x12fb30(0x1dd),_0xe5c3db(0x129),_0xe5c3db(0x119),_0x12fb30(0x1e3),_0xe5c3db(0x12c),_0xe5c3db(0x12a),_0xe5c3db(0x11b),_0xe5c3db(0x115),_0xe5c3db(0x113),_0xe5c3db(0x10e),_0x12fb30(0x1eb),_0xe5c3db(0x101),_0xe5c3db(0xfd),_0xe5c3db(0x109),_0xe5c3db(0x123),_0xe5c3db(0x102),_0xe5c3db(0x11f),_0xe5c3db(0x10b),_0xe5c3db(0x120),_0x12fb30(0x1d9),_0xe5c3db(0x118),_0xe5c3db(0x12e),'shift',_0xe5c3db(0x108),'711675iQcDCx',_0xe5c3db(0x111),'857997mUHtJG',_0xe5c3db(0x12b),_0xe5c3db(0x122),_0xe5c3db(0x127),_0xe5c3db(0x103),_0xe5c3db(0x10f),_0xe5c3db(0x12d),_0x12fb30(0x1e0),_0xe5c3db(0x10d),_0xe5c3db(0x128)];return _0x3b43=function(){return _0x52d468;},_0x3b43();}firebase[_0x4dbda9(0x18c)](firebaseConfig);function _0x230f(_0x8bc889,_0x20f9d0){var _0x33038a=_0x3303();return _0x230f=function(_0x230f3b,_0x45b316){_0x230f3b=_0x230f3b-0x1bf;var _0x4a507a=_0x33038a[_0x230f3b];return _0x4a507a;},_0x230f(_0x8bc889,_0x20f9d0);}function _0x2d91(){var _0x5e5eea=_0x1f6983,_0x2d1cd9=_0x1b66,_0xdb771d=_0x1c5782,_0x21f240=[_0xdb771d(0xb0),_0xdb771d(0x9a),_0x5e5eea(0x100),_0xdb771d(0xa1),_0xdb771d(0x96),_0x2d1cd9(0x1a5),_0xdb771d(0xaa),_0xdb771d(0xa6),_0xdb771d(0x97),_0x2d1cd9(0x194),_0x2d1cd9(0x192),_0xdb771d(0x93),_0xdb771d(0xa4),_0x2d1cd9(0x198),_0xdb771d(0x98),_0xdb771d(0x92),_0xdb771d(0x95),_0x5e5eea(0x121),_0xdb771d(0x9d),_0x2d1cd9(0x1b3),_0xdb771d(0xa9),_0xdb771d(0xad),_0xdb771d(0x9b),_0x2d1cd9(0x1ab),_0xdb771d(0xa2),_0xdb771d(0xa5),_0xdb771d(0xae),_0xdb771d(0x9f)];return _0x2d91=function(){return _0x21f240;},_0x2d91();}function _0x3303(){var _0x48dff2=['35hJfvyu','5096MFTUZm','695328iHbfMy','3227320qhJjXs','21048SwleXU','3988650krDWmf','840680BKVcjC','634291157051','39ncfTga','628910YRDiZc','742413WPSbPC','8105124lkNBBX','17472HUpNey','1878015PQHlXI','49Umansy','4sztCbD','32qIEGwy','4889322SDuiYx','993mWFwVj','351930Hwmycc','20700660OvyttA','shift','7HhclwU','2luxThr','1186165sLaNgO','2856018VLAwyE','499362JNrAAs','89672XBmIkC','nepravidelne-slovesa','1734aWABbZ','push','851402JDoWjW','2858898reXMjy','9811287goJelP','4781BDiXIY','36bRPtjL','11IdSNso','14058252DZNGIL','6299040QmReRv','3539723FdQdcA','7NfaZrO','AIzaSyAecX1ItIzGnTNrP2cdex7wgJCAitLwTNs','10804989wVgoAT','21xUjtqI','1040877CInPuK','193881qmeohk','5phXSUr','1881WGXmlJ','718239GsadXF','6116AGGIVY','2317468qqXjow','24751VVsgIk','20BVlJsO'];_0x3303=function(){return _0x48dff2;};return _0x3303();}function _0xf467(){var _0x4fac0a=_0x1c5782,_0x586db1=_0x5d77,_0x474a8e=[_0x586db1(0x175),_0x586db1(0x164),_0x586db1(0x177),_0x586db1(0x179),_0x586db1(0x16d),_0x586db1(0x170),_0x586db1(0x171),_0x586db1(0x16e),_0x586db1(0x172),_0x4fac0a(0x9c),_0x586db1(0x17d),_0x586db1(0x17e),_0x586db1(0x16c),_0x586db1(0x16a),_0x4fac0a(0x99),_0x586db1(0x16b),_0x586db1(0x169)];return _0xf467=function(){return _0x474a8e;},_0xf467();}
    </script><!--
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
    <script>
        const firebaseConfig = {
        apiKey: "AIzaSyAecX1ItIzGnTNrP2cdex7wgJCAitLwTNs",
        authDomain: "nepravidelne-slovesa.firebaseapp.com",
        projectId: "nepravidelne-slovesa",
        storageBucket: "nepravidelne-slovesa.appspot.com",
        messagingSenderId: "634291157051",
        appId: "1:634291157051:web:146453cf745afe3526041e"
        };

        // Initialize Firebase

        firebase.initializeApp(firebaseConfig);
    </script>-->
    <script>
        function open_add() {
            document.getElementById('add-options').style.display = 'flex';
            document.getElementById('add-options').reset();
        }
        function open_test_options() {
            document.getElementById('add-options').style.display = 'none';
            document.getElementById('body-bg').style.display = 'flex'; 
            var options = document.getElementById('test-options-whole');
            options.style.display = 'flex';
            document.getElementById('test-options').reset()
        }
        var num_of_q_input = document.getElementById('test-options-input');
        var num_of_verbs = document.getElementsByClassName('list-item').length-1;
        
        function add_num() {
            if (Number(num_of_q_input.value)<num_of_verbs){
                num_of_q_input.setAttribute('value', (Number(num_of_q_input.value)+1).toString());
            } else {
                alert('Viac slovies zatiaľ nemáš na svojom zozname. :-)')
            }
        }
        function subtract_num() {
            if (Number(num_of_q_input.value)>5){
                num_of_q_input.setAttribute('value', (Number(num_of_q_input.value)-1).toString());
            } else {
                alert('Tvoj test by mal určite obsahovať aspoň 5 otázok. ;-)')
            }
        }
    </script>
</body>
</html>