*{
    user-select: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    border-radius: .25em;
}
html{
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar{
    display: none;
}
body{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: fit-content;
    max-height: fit-content;
    background: #1C2022;
}
.main, .main>*{
}
.main{
    position: absolute;
    min-width: 80vw;
    max-width: 80vw;
    left: 10vw;
    top: 10vw;
    padding-bottom: 100px;
}
.main-header{
    text-align: center;
    font-size: 3rem;
    font-weight: 1000;
    color: #C3A72D;
}
.main-list, .main-options{
    margin-top: 40px;
}
.list-list{
    display: flex;
    flex-direction: column;
    color: #C3A72D;
}
.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    margin: 0;
    padding: 15px 0;
    border-bottom: .25px solid #C3A72D;
    border-top: .25px solid #C3A72D;
    border-radius: 0;
}
.list-item>*{
    min-width: 16.67%;
    max-width: 16.67%;
    text-align: center;
    line-break: strict;
    word-break: break-all;
    padding: 0 5px;
}
.main-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #C3A72D;
}
.main-options>*{
    border: 1px solid #c0ac55;
    padding: .5em;
    border-radius: .15em;
    margin: 0 20px;
    cursor: pointer;
    transition: .2s ease;
    color: #c0ac55;
}
.main-options>*:hover{
    transition: .2s ease;
    background-color: #c0ac55;
    color: #1C2022;
    border: 1px solid #c0ac55;
}
.add-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    min-width: 85vw;
    max-width: 85vw;
    padding: 3vh 3vw;
    min-height: 18vh;
    max-height: 18vh;
    left: 7.5vw;
    top: 41vh;
    color: #1C2022;
    background-color: #c0ac55;
    text-align: center;
    display: none;
    z-index: 556;
}
.add-options>*{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.close{
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    color: #1C2022;
}
.options >*{
    margin: 5px 0;
    min-width: 100%;
    max-width: 100%;
    border: none;
    outline: none;
}
input, .answer-input{
    outline: none;
    border: none;
    background-color: #1C2022;
    padding: .3em;
    font-size: 1.25rem;
    color: #C3A72D;
}
.submit{
    transition: .2s ease;
    cursor: pointer;
}
.submit:hover{
    transition: .2s ease;
    background-color: transparent;
    color: #1C2022;
}
.test-options-whole{
    z-index: 999;
}
.test-options-whole, .test-options-bg{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
}
.test-options-bg{
    display: none;
    background-color: #c0ac558c;
    filter: blur(8px);
    z-index: 2;
}
.body-bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff23;
    backdrop-filter: blur(2px);
    z-index: 555;
}
.test-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    min-width: 50vw;
    max-width: 50vw;
    min-height: 50vh;
    max-height: 50vh;
    top: 25vh;
    left: 25vw;
    z-index: 3;
    color: #1C2022;
    background-color: #c0ac55;
}
.test-options .close{
    position: absolute;
    top: 10px;
    right: 0;
}
.options-header{
    font-weight: 1000;
    font-size: 3rem;
}
.num-of-q-whole{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.num-of-q-whole input{
    outline: none;
    border: none;
    font-size: 1.75rem;
    padding: .3em;
    min-width: 2em;
    max-width: 2em;
    margin: 0 10px;
    background: transparent;
    user-select: none;
}
.num-of-q-whole input, .num-of-q-whole input::placeholder{
    color: #1C2022;
}